/* General Styles*/

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

/* .container {
  width: 80%;
  margin: 0 auto;
} */

/* Header Styles */
/* header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 16px;
}
nav li a:hover {
  background-color: #111111;
} */
/* Section Styles */
/* .section {
  padding: 50px 0;
}

.section h2 {
  margin-top: 0;
} */

/* Project Styles */
/* .project {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 10px;
}

.project a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #5a8794;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.project a:hover {
  background-color: #555;
} */

/* Contact Form Styles */
/* form {
  max-width: 400px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5a8794;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
} */

/* Footer Styles */
/* footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
} */

/* nav code */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.logo {
  color: #fff;
  margin: 0;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-menu li {
    margin: 10px;
  }

  .navbar-toggler {
    display: block;
  }
}
